@media(min-width:0px)
{
    *
    {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        list-style: none;
    }
    header{
        width: 100%;
        padding: 15px;
    }  
    .logo
{
    margin: auto;
    font-family: 'Nunito Sans';
    font-size: 14px;
    color: #364253;

}
.main-check
{
    width: 90%;
}
.flex
{
    display: flex;
    flex-direction: column;
}
.check-box1
{
    width: 100%;
    border: none;
   
}
.row
{
    display: flex;
    flex-direction: column;
}
.first-name
{
    width: 100%;
}
.check-box2
{
    width: 100%;
    padding: 0px;
}

.but
{
    text-align: center
}
.coupon{
    text-align: center;
}
.apply
{
    margin-top: 80px;
}
.coupon input
{
    width: 90%;
}
}
@media(min-width:992px)
{

        *
        {
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
            list-style: none;
        }
        header{
            width: 100%;
            padding: 15px;
        }  
        .logo
    {
        margin: auto;
        font-family: 'Nunito Sans';
        font-size: 14px;
        color: #364253;
    
    }
    .main-check
    {
        width: 80%;
      
    }
    .flex
    {
        display: flex;
        flex-direction: row;
    }
    .check-box1
    {
        width: 65%;
        border-right:  1px solid gray;
        margin-top: 40px;
    
    }
    .row
    {
        display: flex;
        flex-direction: row;
    }
    .first-name
    {
        width: 50%;
    }
    .check-box2
    {
        width: 35%;
        padding: 30px 0px 30px 30px;
        margin-top: 40px;
    }

    .but
    {
        text-align: end;
    }
    .coupon{
        text-align: left;
    }

    .coupon input
    {
        width: 80%;
    }
    .apply
    {
        display: inline-block;
        margin-top: 30px;
    }
    } 
